@font-face {
  font-family: "commandocommando";
  src: url("../fonts/commando-webfont.woff2") format("woff2"),
    url("../fonts/commando-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "savedbyzero";
  src: url("../fonts/saved_by_zero_rg-webfont.woff2") format("woff2"),
    url("../fonts/saved_by_zero_rg-webfont.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Outrun future Bold Italic";
  src: url("../fonts/Outrun future Bold Italic.otf") format("opentype");
}
body {
  height: 100vh !important;
  background-image: url(../images/g2.gif);
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}

#header {
  top:0% !important;
  z-index: 20 !important;
  position: fixed !important;
  min-height: 5% !important;
  background-color: black !important;
  font-family: "Outrun future Bold Italic" !important;
  color: aqua !important;
  margin: 0 auto !important;
  text-align: center !important;
  -webkit-text-stroke: 1px red !important;
  width: 100vw !important;
}

.headElem {
  margin: 0 auto;
  display: inline;
}

#hE1 {
  padding-right: 325px;
  min-height: 5% !important;
  background-color: black !important;
  font-family: "Outrun future Bold Italic" !important;
  color: aqua !important;
  margin: 0 auto !important;
  text-align: center !important;
  -webkit-text-stroke: 1px red !important;
}

#hE2 {
  padding-left: 325px;
}


marquee {
  max-width: 75%;
  height: 100vh;
  padding: 0 20px;
  background-color: #000;
  color: #0f0;
  border: 1px solid #000;
  border-radius: 20px;
  outline: 10px outset #aaa;
  text-align: center;
  z-index: 100;
}
li {
  list-style: none;
}
.li {
  text-align: left;
}

#main {

  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}



.col {
  height: 100% !important;
  position: sticky;
}
.card {
  border: 5px solid blue;
  outline: 5px solid greenyellow;
  background-color: #000000;
  color: lawngreen;
}

.skills {
  font-family: "savedbyzero";
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: start;
  overflow:visible;
}

#d1 {
  display: block;
  margin-bottom: 10px;
}

.clearfix {
  clear: both;
}
.card-title {
  border: 3px solid lawngreen;
}

img {
  object-fit: cover;
  height: 270px;
}

#imgDisplay {
  height: 280px !important;
}

#hidCaro{
  margin-top: 12.5% !important;
}

.dropdown {
  margin: 0 auto !important;
}

#d1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.rList {
  float: left;
  text-align: left;
  list-style: none;
}

.blackSpace {
  height: 100px;
  background-color: #000000;
  border: 5px solid orangered;
  position: relative;
}

#footer {
  bottom:0 !important;
  position:fixed !important;
  width: 100vw !important;
  min-height: 5%;
  background-color: black;
  font-family: "commandocommando";
  color: orangered;
  font-size: 20px;
}


